<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/flatly/bootstrap.min.css">
		<link rel="stylesheet" href="../../assets/css/style.css" type="text/css">

		<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
		<script type="text/javascript" src="../getextras.js"></script>







		<title>Eat Da Burger III</title>
	</head>

	<body>

		<div class="container-fluid">        
			<div class="headline"><h1><center>Eat-Da-Burger!</center></h1></div>
			<div class="nameorder">
		<!-- 	// id created on main page
			// once the first burger is ordered don't let the name field be editable, so all the orders
			// go to the same person until the finish button is clicked -->
				
				<div class="form-group">
  					<label class="control-label" for="focusedInput">Name</label>
  					<input class="form-control" id="focusedInput" type="text" value="">
  					<input class="form-control" id="disabledInput" type="text" placeholder="Disabled input here..." disabled="">
				</div>
			</div>


<!--  <div class="form-group">
      <label for="inputPassword" class="col-md-2 control-label">Password</label>
      <div class="col-md-10">
        <input type="password" class="form-control" id="inputPassword" placeholder="Password">
        <div class="checkbox">
          <label>
            <input type="checkbox"> Checkbox
          </label>
        </div>
      </div>
    </div> -->







			<div class="row">
				<div fieldset id="group1">
				    <div class="form-group">
						<label for="pattyType" class="col-md-2 control-label">Patty Style:</label>
		  				<div class="radio col-md-10" id="pattyType">
		      				<label> 
		        				<input type="radio" name="group1" id="optMeat1" value="Beef">
		        				Beef
		      				</label>
		      				<label>
		       					<input type="radio" name="group1" id="optMeat2" value="Turkey">
		       						Turkey
		   					</label>
		   					<label>
			     				<input type="radio" name="group1" id="optMeat3" value="Veggie">
		       						Veggie
		   					</label>
						</div>
					</div>
				</div>
			</div>
			<div class='row'>
				<label for="select" class="col-md-2 control-label">Number of Patties:</label>
				<div class="col-md-2">
					<select class="form-control" id="numberofPatties">
						<option value="1">1</option>
						<option value="2">2</option>
						<option value="3">3</option>
						<option value="4">4</option>
						<option value="5">5</option>
					</select>
				</div>
			</div>

			<br><br>
			<div class='row'>
				<div class='col-md-12'>  
						<div class='row'>
							<div class='col-md-3'>
						<!-- <div class="form-group"> -->
								<div class="panel panel-primary">
									<div class="panel-heading">Cheese</div>
									<div class="panel-body">
			              				<select class="form-control" id="cheese">
			              				</select>
		              				</div>
		              			</div>
		              		</div>
			              						
							<div class='col-md-3'>
					            <div class="panel panel-danger">
									<div class="panel-heading">Sauce</div>
									<div class="panel-body">
					              		<select class="form-control" id="sauce">
					              		</select>
					              </div>
					            </div>
					        </div>

							<div class='col-md-3'>
					             <div class="panel panel-success">
									<div class="panel-heading">Veggies</div>
									<div class="panel-body">
					              		<select class="form-control" id="veggie">
					              		</select>
					              	</div>
					            </div>
					       	</div>
							<div class='col-md-3'>
					             	<div class="panel panel-info">
										<div class="panel-heading">Extras</div>
										<div class="panel-body">
	              							<div class="checkbox" id="extra">
	 											<!-- populated by JS -->
	        								</div>
	              						</div>
	            					</div>
	            				</div>


			       	</div>
			       </div>
			    </div>


			<div class="row">
				<div fieldset id="group2">
		 			<div class="form-group">
						<label class="col-md-2 control-label">Fries:</label>
		  				<div class="radio col-md-10 fries">
		      				<label>
			     				<input type="radio" name="group2" id="optFry0" value="None">
		       						None
		   					</label>
		      				<label> 
		        				<input type="radio" name="group2" id="optFry1" value="Small">
		        				Small
		      				</label>
		      				<label>
		       					<input type="radio" name="group2" id="optFry2" value="Medium">
		       						Medium
		   					</label>
		   					<label>
			     				<input type="radio" name="group2" id="optFry3" value="Large">
		       						Large
		   					</label>
						</div>
					</div>
				</div>
			</div>
			<div class='row'>
				<div class="form-group">
					<div fieldset id="group3">
						<label class="col-md-2 control-label">Drink:</label>
		  				<div class="radio col-md-10 drinks">
		      				<label>
			     				<input type="radio" name="group3" id="optDrink0" value="None">
		       						None
		   					</label>
		      				<label> 
		        				<input type="radio" name="group3" id="optDrink1" value="Small">
		        				Small
		      				</label>
		      				<label>
		       					<input type="radio" name="group3" id="optDrink2" value="Medium">
		       						Medium
		   					</label>
		   					<label>
			     				<input type="radio" name="group3" id="optDrink3" value="Large">
		       						Large
		   					</label>
						</div>
					</div>
				</div>
			</div>







    


				
	







			<div class=burgerOrder>			
				<form action="/create" method="POST">
					<button type="submit" class="btn btn-info" id="order">Add Another Burger To This Order</button>
				</form>
				<form action="/createlast" method="POST">
					<button type="submit" class="btn btn-info" id="finish">That is the Last Burger for This Order</button>

				</form>
			</div>	
			<div>



<!-- <div class="modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title"></h4>
      </div>
      <div class="modal-body">
        <p>One fine body…</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default modal-close" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div> -->



			<!-- // Put modal here -->
			<!-- //  Thank you for your order {name} you order is number {number} -->
			<!-- order summary (at least number of burgers) -->
			</div>		
		</div>
	</body>
</html>